.header__lang-link {
	color: #FFFFFF;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
  padding: 0;
	text-decoration: none;
  transition: 0.3s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
	.header__lang-link {
		font-size: 18px;
		line-height: 20px;
	}
}
