.places {
  display: grid;
  margin: 92px auto;
  color: #fff;
  gap: 80px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
      margin: 88px 48px 90px;
      gap: 80px;
      max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    margin-left: 24px;
    margin-right: 24px;
    gap: 72px 0;
  }
}
@media screen and (max-width: 320px) {
  .places {
      margin: 64px auto 0px;
      gap: 50px;
  }
}
