.lead__title {
  text-align: center;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto;
  padding: 0;
  max-width: 720px;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
  }
}

