.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

.place__paragraph:first-of-type {
  margin: 0 0 26px 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}


@media screen and (max-width: 600px) {
  .place__paragraph {
    padding: 0 16px;
  }
}




