.intro__text {
  max-width: 690px;
  margin: 40px 0 0 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}


@media (max-width: 768px) {
  .intro__text {
    max-width: 720px;
    width: 90vw;
  }
}

@media (max-width: 320px) {
  .intro__text {
    width: 288px;
  }
}
