.cover__subtitle {
  margin: 32px auto 0;
  max-width: 360px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;

}

@media (min-width:321px) and (max-width: 767px) {
  .cover__subtitle {
      font-size: 14px;
      line-height: 16px;
  }
}

@media (max-width: 320px) {
  .cover__subtitle {
      margin: 16px 0 0 0;
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;

  }
}
