.lead__subtitle {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  margin: 32px auto 0 auto;
}


@media screen and (max-width: 700px) {
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
	}
}
