
.cover {
  margin: 92px 48px 0;
  max-width: 1184px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .cover {
      max-width: 100%;
      margin: 92px 0 0;
  }
}


@media (max-width: 768px) {
  .cover {
      margin: 62px 0 0;
  }
}

@media (max-width: 320px) {
  .cover {
      margin: 66px 0 0 0;
  }
}
