.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}

.place__link:hover {
  opacity: 0.8;
}
