.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

@media (max-width: 600px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}

@media (max-width: 320px) {
  .cover__title {
    margin-top: 33px;
  }
}
