.place {
  display: grid;
  gap: 48px 40px;
  grid-template-columns: 46.74% auto;
  grid-template-rows: repeat(2, auto);
  margin: 0 auto;
  transition-duration: .4s;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    grid-template-columns: 47.413% auto;
    transition-timing-function: ease-in-out;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
    grid-template-columns: 47.2% auto;
  }
}

@media screen and (max-width: 470px) {
  .place {
      max-width: 320px;
      grid-template-columns: 100%;
      gap: 0;

  }
}


@media screen and (max-width: 320px) {
  .place {
    margin-bottom: 0;

  }
}

