.footer {
  max-width: 1184px;
  margin: 92px auto 48px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}


@media (max-width: 1280px) {
  .footer {
      max-width: calc(100% - 96px);
  }
}


@media (max-width: 768px) {
  .footer {
      max-width: calc(100% - 48px);
      margin: 88px auto 24px;

  }
}

@media (max-width: 767px) {
  .footer {
      margin: 64px 0 24px 16px;
      flex-direction: column;
      max-width: 186px;
      justify-content: flex-start;
      align-content: flex-start;
  }
}
