.intro__title {
  width: 690px;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

}

@media (max-width: 768px) {
  .intro__title {
      font-size: 54px;
      line-height: 58px;
  }
}


@media  (max-width: 691px) {
  .intro__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 35px;
  }
}
